/terraform/
/.aws/
/.ssh/
app/03-provisioning/.terraform/
app/kubernetes.tfstate
app/04-certs/*.pem
app/04-certs/*.csr
app/04-certs/worker-*-csr.json
app/05-kubeconfig/*.kubeconfig
app/inventory.cfg

